body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav {
  font-size: xx-large;
  text-align: center;
  width: 100vw;
}
.login {
  background-color: aquamarine;
  text-align: center;
  font-weight: bold;
  margin: 7%;
}

.content {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
}

button {
  margin: 3%;
}

input {
  margin: 5px;
  width: 12vw;
  height: 3vh;
  text-align: center;
  font-weight: bold;
  border-radius: 9%;
}
